<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="br.com.mobees.parceiro.plugin"
        version="0.7.0">

  <name>Hello</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/mobees.js" target="js/mobees.js"/>

  <js-module src="www/mobees.js" name="mobees">
    <clobbers target="mobees" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Mobees">
        <param name="android-package" value="br.com.mobees.parceiro.plugin.MobeesPlugin"/>
      </feature>
    </config-file>

    <source-file src="src/android/MobeesPlugin.java" target-dir="src/br/com/mobees/parceiro/plugin/"/>
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="Mobees">
        <param name="ios-package" value="HWPHello" />
      </feature>
    </config-file>

    <header-file src="src/ios/HWPHello.h" target-dir="HelloPlugin"/>
    <source-file src="src/ios/HWPHello.m" target-dir="HelloPlugin"/>
  </platform>

</plugin>